# AWS Rekognition Credentials for CrossRedeemed
# AWS Account ID: 423937246519
# Account Name: CrossRedeemed

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
